
@font-face {
    font-family: Nasa21;
    src: url(Nasa21.ttf)
  }

* {

    box-sizing: border-box; 
    font-family: Nasa21, sans-serif;
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    /*appearance: none;*/

}

label.opcion.selected{
    opacity: 1;
    /*background-image: url(nebulosa.jpg); 
    background-size: cover;*/
    border: white solid 1px;
    transform: scale(1.05);
    cursor: pointer;
    background-image: url(nebulosa.jpg);
    /*box-shadow: white 0px 0px 10px 20px;*/
}
 
body {
    background-color: #080828;
    text-align: center;
    justify-content: center;
 
;
}


p {
    color: white;
    font-size: 35px;

    
}

.first-screen {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: url(latierra.jpeg);
    


}

.inicio {

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 15px;

}

.btn-inicio {


    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-top: 25px;


    border: solid 1px black;
    color: #080828;;
 


}

.btn-inicio:hover {
    transform: scale(1.50);
    cursor: pointer;
}


a:link {
    
    text-decoration: none;
}

a:visited {
    color: black; 
    outline: none;
}
a:hover{
    color: black;
}

#resultado-aprobado div {
    width: 100vw;
    height: 100vh;
    background-image: url(superficie.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#resultado-suspendido div {
    width: 100vw;
    height: 100vh;
    background-image: url(hole.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#resultado-aprobado h3 {

    padding: 10px;
    margin: 10px 0;
    color: white;
    font-size: 50px;

}

#resultado-aprobado span{
    color:white;
    font-weight: bold;
    font: 50px; 

}

#resultado-suspendido h3 {

    padding: 10px;
    margin: 10px 0;
    color: white;
    font-size: 50px;

}

#resultado-suspendido span{
    color: white;
    font-weight: bold;
    font: 50px; 

}


form {

    display: flex;
    flex-direction: column;

}

.boton-submit {

    width: 100vw;
    height: 50px;
    border-radius: 15px;


}

.boton-submit:hover {

    opacity: 0.5;
    transform: scale(1.05);


}



.caja-pregunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-image: url(exterior.jpg);

}

.posibilidades {
    display: flex;
    flex-direction: column;
}


.opcion {

    width: 100vw;
    height: 100px;
  
    border: solid black 1px;
    
    background-color: #080828;
    color: white;
    font-size: 35px;
    border: white solid 1px;
    border-radius: 20px;
    opacity: 0.5;
    text-align: center;
    padding-top: 25px;
    
    
}

.enunciado {

    padding: 10px;
    margin-bottom: 80px;
    
    
    color: white;
    text-align: center;
    font-size: 30px;

}

.opcion:hover {
    opacity: 1;
    /*background-image: url(nebulosa.jpg); 
    background-size: cover;*/
    border: white solid 1px;
    transform: scale(1.05);
    cursor: pointer;
    background-image: url(nebulosa.jpg);
    box-shadow: white 0px 0px 10px 20px;

}



.mystyle {

    background-color: green !important;
}



@media screen and (min-width: 768px) {
    
    form {   
           
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
    
    }
                }
                
@media screen and (min-width: 768px) {
    
    .posibilidades {   
                           
        display: flex;
        flex-direction: column;                
        height: 30%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
                    
                    
                    }
                                }
                

@media screen and (min-width: 768px) {
    
    .opcion {   
                           
        width: 45vw; 
                    
                    
                    }
                                }